<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="santi_extensions" translate="label" sortOrder="1000">
            <label>Santi Extensions</label>
        </tab>

        <section id="santi_home_seo_text" translate="label" sortOrder="60"
            showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Home SEO Text</label>
            <tab>santi_extensions</tab>
            <resource>Magento_Config::config</resource>

            <group id="home" translate="label" type="text" sortOrder="10"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SEO al final del Home</label>

                <field id="enabled" translate="label" type="select" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Habilitado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título (opcional)</label>
                </field>

                <field id="html" translate="label comment" type="editor" sortOrder="30"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contenido SEO (HTML)</label>
                    <comment>Se permite HTML. Puedes usar formato, enlaces, listas, etc.</comment>
                    <frontend_model>Santi\HomeSeoText\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>


                <field id="collapsed_lines" translate="label" type="text" sortOrder="40"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Líneas visibles (colapsado)</label>
                    <comment>Por defecto 2.</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>

                <field id="label_more" translate="label" type="text" sortOrder="50"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Texto botón &quot;Ver más&quot;</label>
                    <comment>Por defecto: Ver más</comment>
                </field>

                <field id="label_less" translate="label" type="text" sortOrder="60"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Texto botón &quot;Ver menos&quot;</label>
                    <comment>Por defecto: Ver menos</comment>
                </field>

            </group>
        </section>
    </system>
</config>
